livekit-agents>=1.0.0rc7
livekit-plugins-openai>=1.0.0rc7
livekit-plugins-silero>=1.0.0rc7
livekit-plugins-google>=1.0.0rc7
livekit-plugins-noise-cancellation
mem0ai
duckduckgo-search
langchain_community
requests
python-dotenv
pydantic-ai-slim[openai,mcp]
mcp
python-dotenv
livekit-api
flask[async]
flask
flask-cors
uvicorn
google-auth
google-auth-oauthlib
PyJWT
Flask-SQLAlchemy
psycopg2-binary